@{
    ViewData["Title"] = "Egresados";
}

<div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
    <div class="row py-5">
        <div class="col-12 pt-lg-5 mt-lg-5 text-center">
            <h1 class="display-4 text-white animated zoomIn">Egresados</h1>
            <a href="<?php echo constant('URL')?>" class="h5 text-white">Inicio</a>
            <i class="far fa-circle text-white px-2"></i>
            <a href="<?php echo constant('URL')?>noticias" class="h5 text-white">Noticias</a>
        </div>
    </div>
</div>

<!-- Egresados -->
<div class="container">
    <div class="section-title text-center position-relative pb-3 mb-5 mx-auto">
        <h3 class="fw-bold text-primary text-uppercase">Inspírate con sus logros, crea tu propio camino</h3>
        <h1 class="mb-0">Nuestros Egresados Exitosos</h1>
    </div>
    <div class="row g-5">
        <h5 class="mb-4">
            En la carrera de Ingeniería en Informática de nuestra institución, nos enorgullece el éxito de nuestros egresados. Cada uno de ellos ha dejado una huella significativa en el campo de la tecnología y ha demostrado el impacto positivo que pueden tener los profesionales de la informática en la sociedad.
        </h5>
        <h5>
            Nuestros egresados son la prueba viviente de la excelencia académica y la formación integral que ofrecemos. Han alcanzado grandes logros en diferentes ámbitos, desde liderar proyectos innovadores hasta ocupar posiciones destacadas en reconocidas empresas del sector tecnológico.
        </h5>
        <h5>
            En nuestro apartado de egresados, te presentaremos historias inspiradoras de algunos de nuestros graduados destacados. Conoce sus logros, descubre cómo han impactado positivamente en el mundo de la tecnología y encuentra inspiración para tu propio camino profesional.
        </h5>
    </div>
    <br />
    <div class="row text-center">
        <div class="col-md-6">
            <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FSoyIINF%2Fvideos%2F1383153979198060%2F&show_text=true&width=560&t=0" width="560" height="429" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
        </div>
        <div class="col-md-6">
            <iframe src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2FSoyIINF%2Fvideos%2F215981531372737%2F&show_text=true&width=261&t=0" width="560" height="591" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
        </div>
    </div>
</div>
<!-- Egresados -->