@using WAFrontIINF.Utilities;   
@{
    ViewData["Title"] = "Noticias";
}

<div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
    <div class="row py-5">
        <div class="col-12 pt-lg-5 mt-lg-5 text-center">
            <h1 class="display-4 text-white animated zoomIn">Noticias</h1>
            <a asp-controller="@(NavigationHelpers.homeController)" asp-action="Index" class="h5 text-white">Inicio</a>
            <i class="far fa-circle text-white px-2"></i>
            <a asp-controller="@(NavigationHelpers.egresadosController)" asp-action="Index" class="h5 text-white">Egresados</a>
        </div>
    </div>
</div>
    
<!-- Navbar End -->
<!-- Noticias -->
<div class="container">
    <div class="section-title text-center position-relative pb-3 mb-5 mx-auto">
        <h3 class="fw-bold text-primary text-uppercase">Siguenos en Facebook</h3>
        <h1 class="mb-0">Mantente informado con nuestras noticias</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h5>
                    ¡Bienvenido a nuestra sección de noticias! Aquí encontrarás las últimas actualizaciones, eventos y logros de la carrera de Ingeniería en Informática. No te pierdas la oportunidad de estar al tanto de los avances y descubrimientos más emocionantes en el campo de la tecnología.
                </h5>
                <h5>
                    Nuestra página de Facebook es el centro de nuestra comunidad en línea, donde compartimos contenido relevante y valioso para estudiantes, profesionales y entusiastas de la informática. Te invitamos a seguirnos y ser parte de nuestra creciente comunidad digital.
                </h5>
                <h5>
                    Sigue nuestra página de Facebook y descubre cómo la ingeniería informática está transformando el mundo. No te pierdas la oportunidad de formar parte de nuestra vibrante comunidad y de estar al tanto de las últimas noticias y avances en este emocionante campo.
                </h5><h5>
                    🌟¡Únete a nosotros en esta emocionante aventura hacia el futuro digital!🌟
                </h5>
            </div>
            <div class="col-md-7">
                <div class="overflow-auto" style="height: 858px;">
                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FSoyIINF%2Fposts%2Fpfbid0dscuWqsxWu7jqzatvqDtrofoTBA5tBLZ3u9kwCu6rNr9Fwbc3R4ryUS59EDmBUZvl&show_text=true&width=500"
                            width="500" height="505" style="border:none;overflow:hidden" scrolling="no"
                            frameborder="0" allowfullscreen="true"
                            allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share">
                    </iframe>
                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FSoyIINF%2Fposts%2Fpfbid0DQmA7nN196JJ9LxgpsLc3umETRAuPWgA8mX9nduqbEBqohiMDsVCgi7B4rWc7DTcl&show_text=true&width=500"
                            width="500" height="793" style="border:none;overflow:hidden" scrolling="no"
                            frameborder="0" allowfullscreen="true"
                            allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share">
                    </iframe>
                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FSoyIINF%2Fposts%2Fpfbid02USoaLs2EjkRkux5QmvJHPy8YzHc48Ga7Bfs1dhLSHZq5FFs9Qxn3YaVBsYeVuwaxl&show_text=true&width=500"
                            width="500" height="545" style="border:none;overflow:hidden" scrolling="no"
                            frameborder="0" allowfullscreen="true"
                            allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share">
                    </iframe>
                    <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FSoyIINF%2Fvideos%2F1303891723879995%2F&show_text=false&width=560&t=0"
                            width="560" height="314" style="border:none;overflow:hidden" scrolling="no"
                            frameborder="0" allowfullscreen="true"
                            allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
                            allowFullScreen="true">
                    </iframe>
                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FSoyIINF%2Fposts%2Fpfbid02nEHxw4VbBxKQEiDgDBFwAncjjQt8DYr5h9kPUHW51XKuDWENQZ1Sqf5wrU4ffSiQl&show_text=true&width=500" width="500" height="590" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FSoyIINF%2Fposts%2Fpfbid02oy6PptUUESnh7ReuvLuVzZmHZuVz8o67PsuwZ5bpTzyaqePvezf27KLchRw7Wf4Ul&show_text=true&width=500" width="500" height="250" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FSoyIINF%2Fposts%2Fpfbid0ZoqQ3HQYAfvzQ4AvkwdTvR7VUHJdUtqWwR5yVPX8FeVXLMJ5yFqruPerDBxqDioTl&show_text=true&width=500" width="500" height="858" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FSoyIINF%2Fposts%2Fpfbid02HcqynHf2mr85vg1biTa96BjRwWwVa7BxxtMWPh3yUrpcWuAueqK4uY95c9GCKnGpl&show_text=true&width=500" width="500" height="628" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FSoyIINF%2Fposts%2Fpfbid0t12JhTez57EvjBR3CMT7MuZMofmNQkqFPJ1ETFg2RPdoES9C1GgBR4L12QKKbjQSl&show_text=true&width=500" width="500" height="787" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
    
<!-- Noticias -->