@using WAFrontIINF.Utilities;
@{
    ViewBag.Title = "Convenios";
}

<!--CONVENIOS-->
<div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
    <div class="row py-5">
        <div class="col-12 pt-lg-5 mt-lg-5 text-center">
            <h1 class="display-4 text-white animated zoomIn">Convenios</h1>
            <a asp-controller="@(NavigationHelpers.homeController)" asp-action="Index" class="h5 text-white">Inicio</a>
            <i class="far fa-circle text-white px-2"></i>
            <a asp-controller="@(NavigationHelpers.noticiasController)" asp-action="Index" class="h5 text-white">Noticias</a>
        </div>
    </div>
</div>

<!-- Navbar End -->
<!-- Features Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h3 class="fw-bold text-primary text-uppercase">Construyendo puentes hacia un futuro tecnológico prometedor</h3>
            <h1 class="mb-0">Alianzas Estratégicas: Convenios para Prácticas Profesionales</h1>
        </div>
        <div class="row g-5">
            <h5 class="justify-content-center">
                Nuestra institución ha establecido sólidas alianzas estratégicas con destacadas empresas del sector tecnológico, con el objetivo de proporcionar a nuestros estudiantes oportunidades de prácticas profesionales en entornos altamente relevantes y enriquecedores. A través de estos valiosos convenios, los alumnos tienen la posibilidad de aplicar y fortalecer sus conocimientos adquiridos en el aula, al tiempo que adquieren experiencia práctica de primera mano en el campo de la ingeniería en informática. Estas colaboraciones con empresas líderes de la industria brindan un ambiente propicio para que nuestros futuros profesionales desarrollen habilidades especializadas, se familiaricen con las últimas tecnologías y establezcan conexiones valiosas en el ámbito laboral. Además, nuestros estudiantes se benefician de la supervisión y orientación de expertos del sector, quienes les brindan mentoría personalizada y valiosos insights acerca de los desafíos y oportunidades que enfrentan en el mundo real. Estos convenios son un reflejo de nuestro compromiso en garantizar una formación integral y actualizada para nuestros alumnos, promoviendo su inserción laboral exitosa y potenciando su futuro desarrollo profesional en el campo de la ingeniería en informática.
            </h5>
        </div>
    </div>
</div>
<!-- Features Start -->
<!-- Sire -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-7">
                <div class="section-title position-relative pb-3 mb-5">
                    <h1 class="mb-0">SIRE (Sistemas Integrales de Recursos Empresariales S.A. de C.V.)</h1>
                </div>
                <h5>SIRE es una empresa mexicana especializada en el desarrollo de software y soluciones tecnológicas a la medida, con 30 años de experiencia, ubicada en las ciudades de Xalapa, Veracruz y Monterrey Nuevo León, con distribuidores a lo largo de toda la república.</h5>
                <h3>Misión</h3>
                <h5>La creación, innovación y desarrollo de productos de software para la mejora de la competitividad en las empresas geográficamente distribuidas.</h5>
                <h3>Visión</h3>
                <h5>Ser la empresa Líder en el ámbito nacional e internacional en la fabricación de productos informáticos utilizando las tecnologías de información y comunicación -TIC´s-, para las Empresas y Entes públicos con entidades geográficamente distribuidas, en los modelos negocio a negocio y negocio a usuarios finales.</h5>
                <a href="https://www.sire.com.mx/nosotros.html" class="btn btn-primary py-3 px-5 mt-3 wow zoomIn" data-wow-delay="0.9s">Ver más información</a>
            </div>
            <div class="col-lg-5" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="img/sire.jpg" style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Sire  -->
<!-- Sysne -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-5" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="img/sysne.jpg" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="section-title position-relative pb-3 mb-5">
                    <h1 class="mb-0">Automatización Sysne de México</h1>
                </div>
                <h5>
                    Es una empresa especializada en el desarrollo de Sistemas informáticos a la medida.
                </h5><h5>
                    Contamos con un equipo de desarrolladores de software capaces de implementar en un corto tiempo y de manera eficaz, una solución de acuerdo a sus necesidades.
                </h5><h5>
                    Para aquellas empresas en donde existe un desarrollo en proceso, le ofrecemos arquitectos de software altamente capacitados que pueden apoyarle en el desarrollo de su sistema. Para empresas en donde no existe un desarrollo actual, le ofrecemos un grupo de personas los cuales desarrollaran un sistema a la medida para su empresa.
                </h5><h5>
                    Cualquiera que sea su necesidad en servicios de desarrollo de software acérquese a nosotros y juntos encontraremos la mejor solución a sus requerimientos.
                </h5>
               
                <a href="https://www.sysne.com.mx/desarrollo.html" class="btn btn-primary py-3 px-5 mt-3 wow zoomIn" data-wow-delay="0.9s">Ver más información</a>
            </div>
        </div>
    </div>
</div>
<!-- Sysne -->
<!-- OpenPyme -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-7">
                <div class="section-title position-relative pb-3 mb-5">
                    <h1 class="mb-0">OpenPyme</h1>
                </div>
                <h5>
                    Es una empresa de consultoría empresarial especializada en las Tecnología de la Información y desarrollo de software, ubicada en la cuidad de Puebla, y fundada en el año 2012.
                </h5><h5>
                    La plataforma de gestión empresarial OpenPyme ERP, esta desarrollado 100% con tecnología libre, con la finalidad de ofrecer a las pymes mexicanas una herramienta que se adapte a sus necesidades al tiempo que crece y evoluciona con ellas.
                </h5><h5>
                    La empresa OpenPyme forma parte de la Razón Social Fedrojesa Constructores y Consultoría SA de CV y surgió ante la necesidad de brindar a las empresas no solo el software de Planeación de Recursos Empresariales; sobre todo las herramientas que verdaderamente constituya una respuesta a los problemas de administración y gestión financiera que puedan tener.
                </h5>
                <a href="https://openpyme.mx/page/aboutus" class="btn btn-primary py-3 px-5 mt-3 wow zoomIn" data-wow-delay="0.9s">Ver más información</a>
            </div>
            <div class="col-lg-5" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="img/openpyme.jpg" style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Sire  -->