<div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="w-100" src="img/carousel-1.jpg" alt="Image">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <div class="p-3" style="max-width: 900px;">
                    <h5 class="text-white text-uppercase mb-3 animated slideInDown">¿Por que estudiar una de las mejores carreras de la actualidad?</h5>
                    <h1 class="display-1 text-white mb-md-4 animated zoomIn">Ingeniería Informática una de las carreras más demandadas</h1>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="w-100" src="img/carousel-2.jpg" alt="Image">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <div class="p-3" style="max-width: 900px;">
                    <h5 class="text-white text-uppercase mb-3 animated slideInDown">Tenemos diversos convenios con muchas empresas</h5>
                    <h1 class="display-1 text-white mb-md-4 animated zoomIn">en toda la República Mexicana</h1>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#header-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
</div>
<!-- Navbar & Carousel End -->
<!-- Full Screen Search Start -->
<div class="modal fade" id="searchModal" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
            <div class="modal-header border-0">
                <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center justify-content-center">
                <div class="input-group" style="max-width: 600px;">
                    <input type="text" class="form-control bg-transparent border-primary p-3" placeholder="Type search keyword">
                    <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Full Screen Search End -->
<!-- Por que estudiar -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-7">
                <div class="section-title position-relative pb-3 mb-5">
                    <h1 class="mb-0">Porque estudiar Ingeniería Informática</h1>
                </div>
                <p class="mb-4">
                    Hay muchas razones por las que estudiar ingeniería informática puede ser una excelente opción para
                    aquellos interesados en la tecnología y la innovación. Algunas de estas razones incluyen:
                </p>
                <div class="row g-0 mb-3">
                    <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Gran Demanda Laboral</h5>
                    <p class="mb-4">
                        Los profesionales de la informática son muy solicitados en la mayoría de las
                        empresas y organizaciones, ya que la tecnología es una parte esencial de su funcionamiento. Esto
                        significa que hay muchas oportunidades de empleo y que los ingenieros en informática pueden disfrutar
                        de salarios atractivos y beneficios laborales.
                    </p>
                    <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Innovación Constante</h5>
                    <p class="mb-4">
                        La tecnología está en constante evolución, lo que significa que los profesionales
                        de la informática tienen la oportunidad de trabajar en proyectos emocionantes e innovadores, y de
                        estar a la vanguardia de las últimas tendencias y avances tecnológicos.
                    </p>
                    <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Diversidad de Áreas de Trabajo</h5>
                    <p class="mb-4">
                        La ingeniería informática es un campo muy amplio, que abarca una gran
                        variedad de áreas de trabajo, desde el desarrollo de software hasta la seguridad informática, las redes y
                        las comunicaciones, y mucho más. Esto significa que los ingenieros en informática pueden encontrar
                        trabajos en una amplia variedad de industrias y sectores.
                    </p>
                    <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Flexibilidad Laboral</h5>
                    <p class="mb-4">
                        Muchas empresas y organizaciones permiten a sus empleados trabajar desde casa o
                        en horarios flexibles, lo que brinda a los ingenieros en informática una mayor flexibilidad y equilibrio
                        entre su vida laboral y personal.
                    </p>
                    <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Contribución al Bien Común</h5>
                    <p class="mb-4">
                        La tecnología puede ser utilizada para mejorar la vida de las personas y
                        resolver problemas importantes en la sociedad, como el acceso a la información, la atención médica, la
                        educación y muchos otros. Los ingenieros en informática tienen la oportunidad de contribuir a estas
                        soluciones y mejorar la calidad de vida de las personas.
                    </p>
                </div>
            </div>
            <div class="col-lg-5" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="img/tecnologica-1.jpg" style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Por que estudiar -->
<!-- Objetivo General -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h3 class="fw-bold text-primary text-uppercase">Ingeniería Informática</h3>
            <h1 class="mb-0">Objetivo General</h1>
        </div>
        <div class="row g-5">
            <h5 class="mb-4">
                Formar profesionales competentes en el diseño, desarrollo, implementación y administración de proyectos informáticos con una visión sistémica, tecnológica y
                estratégica; ofreciendo soluciones innovadoras e integrales a las organizaciones de acuerdo con las necesidades actuales; comprometidos con su entorno,
                desempeñándose con actitud ética, emprendedora y de liderazgo.
            </h5>
        </div>
    </div>
</div>
<!-- Objetivo General -->
<!-- Perfil de Ingreso -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-5" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="img/tecnologica-2.jpg" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="section-title position-relative pb-3 mb-5">
                    <h1 class="mb-0">Perfil de Ingreso</h1>
                </div>
                <p class="mb-4">
                    El perfil de ingreso para estudiar Ingeniería Informática suele incluir una serie de habilidades,
                    conocimientos y aptitudes que permitan al estudiante enfrentar los retos de la carrera con éxito.
                    Algunas de las características deseables son:
                </p>
                <p class="mb-3">
                    <i class="fa fa-caret-right text-primary me-3"></i>Interés y pasión por la tecnología y la informática.
                </p>
                <p class="mb-3">
                    <i class="fa fa-caret-right text-primary me-3"></i>Habilidad en matemáticas y física, ya que son fundamentales para la comprensión de los conceptos y
                    técnicas utilizadas en la carrera.
                </p>
                <p class="mb-3"><i class="fa fa-caret-right text-primary me-3"></i>Conocimientos básicos en programación y lenguajes de programación</p>
                <p class="mb-3">
                    <i class="fa fa-caret-right text-primary me-3"></i>Creatividad y capacidad para resolver problemas, ya que la ingeniería informática requiere el desarrollo
                    de soluciones innovadoras y eficientes para problemas complejos.
                </p>
                <p class="mb-3"><i class="fa fa-caret-right text-primary me-3"></i>Capacidad para trabajar en equipo y colaborar con otros profesionales de diferentes áreas.</p>
                <p class="mb-3">
                    <i class="fa fa-caret-right text-primary me-3"></i>Habilidad para comunicarse de manera efectiva en español e inglés, ya que gran parte de la literatura
                    científica en la disciplina está en inglés.
                </p>
                <p class="mb-3">
                    <i class="fa fa-caret-right text-primary me-3"></i>Interés en la investigación y el aprendizaje continuo, ya que la tecnología y la informática están en
                    constante evolución.
                </p>
                <p class="mb-4">
                    Si bien estas características no son excluyentes para estudiar Ingeniería Informática, sí son
                    fundamentales para tener éxito en la carrera y desarrollar una carrera exitosa en el campo de la
                    tecnología y la informática.
                </p>

            </div>
        </div>
    </div>
</div>
<!-- Perfil de Ingreso -->
<!-- Perfil de Egreso -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-7">
                <div class="section-title position-relative pb-3 mb-5">
                    <h1 class="mb-0">Perfil de Egreso</h1>
                </div>
                <p class="mb-4">
                    El perfil de egreso de un Ingeniero Informático es el conjunto de habilidades y conocimientos que el
                    estudiante ha adquirido durante su formación y que lo habilitan para desempeñarse profesionalmente
                    en el campo de la tecnología de la información. Algunas de las competencias que debe poseer un
                    Ingeniero Informático al egresar son:
                </p>
                <p class="mb-3">
                    <i class="fa fa-caret-right text-primary me-3"></i>Diseñar, desarrollar y evaluar sistemas informáticos y de software, utilizando metodologías y
                    herramientas de la ingeniería de software.
                </p>
                <p class="mb-3">
                    <i class="fa fa-caret-right text-primary me-3"></i>Analizar y solucionar problemas complejos en el ámbito de la tecnología de la información, aplicando
                    conocimientos de matemáticas, lógica y algoritmia.
                </p>
                <p class="mb-3">
                    <i class="fa fa-caret-right text-primary me-3"></i>Comprender y aplicar conceptos y técnicas de inteligencia artificial, minería de datos y aprendizaje
                    automático en el desarrollo de soluciones informáticas.
                </p>
                <p class="mb-3"><i class="fa fa-caret-right text-primary me-3"></i>Desarrollar sistemas y aplicaciones seguras, considerando aspectos de privacidad y protección de datos.</p>
                <p class="mb-3">
                    <i class="fa fa-caret-right text-primary me-3"></i>Diseñar, implementar y administrar redes de computadoras y sistemas de comunicaciones, asegurando
                    su disponibilidad y rendimiento.
                </p>
                <p class="mb-3">
                    <i class="fa fa-caret-right text-primary me-3"></i>Gestionar proyectos de tecnología de la información, aplicando conocimientos de planificación,
                    presupuestación, liderazgo y trabajo en equipo.
                </p>
                <p class="mb-3">
                    <i class="fa fa-caret-right text-primary me-3"></i>Adaptarse a los cambios en el campo de la tecnología de la información y mantenerse actualizado en
                    cuanto a las nuevas tendencias y tecnologías emergentes.
                </p>
                <p class="mb-4">
                    En resumen, un Ingeniero Informático debe ser capaz de diseñar, desarrollar y evaluar sistemas
                    informáticos y de software, y también debe poseer habilidades en liderazgo, trabajo en equipo, gestión
                    de proyectos y adaptabilidad a los cambios en la tecnología. Todo esto le permitirá desempeñarse con
                    éxito en diferentes áreas y sectores de la industria de la tecnología de la información.
                </p>
            </div>
            <div class="col-lg-5" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="img/about.jpg" style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Perfil de Egreso -->
<!-- Atributos de Egresado -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-5" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="img/tecnologica-3.jpg" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="section-title position-relative pb-3 mb-5">
                    <h1 class="mb-0">Atributos de Egresado</h1>
                </div>
                <p class="mb-4">
                    Los atributos del egresado de Ingeniería Informática son un conjunto de competencias, habilidades y
                    conocimientos que un estudiante de esta carrera debe adquirir durante su formación, y que lo habilitan
                    para desempeñarse con éxito en el campo de la tecnología y la informática. Algunos de los atributos que
                    se esperan de un egresado de Ingeniería Informática son:

                </p>
                <p class="mb-3">
                    <i class="fa fa-caret-right text-primary me-3"></i>Conocimiento sólido en matemáticas, física, algoritmia, programación y bases de datos.
                </p>
                <p class="mb-3">
                    <i class="fa fa-caret-right text-primary me-3"></i>Capacidad para diseñar, desarrollar y evaluar sistemas informáticos y de software, utilizando
                    metodologías y herramientas de la ingeniería de software.
                </p>
                <p class="mb-3">
                    <i class="fa fa-caret-right text-primary me-3"></i>Habilidad para analizar y resolver problemas complejos en el ámbito de la tecnología de la información,
                    aplicando conocimientos de lógica, matemáticas y algoritmia.
                </p>
                <p class="mb-3">
                    <i class="fa fa-caret-right text-primary me-3"></i>Conocimiento y capacidad para aplicar técnicas y herramientas de inteligencia artificial, minería de datos
                    y aprendizaje automático en el desarrollo de soluciones informáticas.
                </p>
                <p class="mb-3">
                    <i class="fa fa-caret-right text-primary me-3"></i>Habilidad para diseñar, implementar y administrar redes de computadoras y sistemas de
                    comunicaciones, asegurando su disponibilidad y rendimiento.
                </p>
                <p class="mb-3">
                    <i class="fa fa-caret-right text-primary me-3"></i>Capacidad para liderar proyectos de tecnología de la información, aplicando conocimientos de
                    planificación, presupuestación, liderazgo y trabajo en equipo.
                </p>
                <p class="mb-3">
                    <i class="fa fa-caret-right text-primary me-3"></i>Conocimiento y habilidad para aplicar estándares y normativas en el desarrollo de soluciones
                    informáticas, considerando aspectos de seguridad, privacidad y protección de datos.
                </p>
                <p class="mb-3">
                    <i class="fa fa-caret-right text-primary me-3"></i>Habilidad para adaptarse a los cambios en el campo de la tecnología de la información y mantenerse
                    actualizado en cuanto a las nuevas tendencias y tecnologías emergentes.
                </p>
                <p class="mb-3">
                    <i class="fa fa-caret-right text-primary me-3"></i>Capacidad para comunicarse de manera efectiva en español e inglés, tanto de forma oral como escrita,
                    con diferentes tipos de audiencia.
                </p>
                <p class="mb-3">
                    <i class="fa fa-caret-right text-primary me-3"></i>Compromiso ético y social, y capacidad para aplicar los conocimientos y habilidades adquiridos en
                    beneficio de la sociedad y el medio ambiente.
                </p>
                <p class="mb-4">
                    En resumen, un egresado de Ingeniería Informática debe ser un profesional altamente capacitado, capaz
                    de liderar proyectos tecnológicos, trabajar en equipo, adaptarse a los cambios y aportar soluciones
                    innovadoras y eficientes en el ámbito de la tecnología y la informática.
                </p>

            </div>
        </div>
    </div>
</div>
<!-- Atributos de Egresado -->
<!-- Objetivos Educacionales -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-7">
                <div class="section-title position-relative pb-3 mb-5">
                    <h1 class="mb-0">Objetivos Educacionales</h1>
                </div>
                <p class="mb-4">
                    Los objetivos educacionales en Ingeniería Informática son una descripción de los conocimientos,
                    habilidades y actitudes que se espera que los egresados de esta carrera posean después de algunos años
                    de experiencia laboral en el campo de la informática y la tecnología. Estos objetivos educacionales son
                    una guía para el diseño del plan de estudios y la evaluación del aprendizaje de los estudiantes.
                </p>
                <p class="mb-4">Algunos ejemplos de objetivos educacionales en Ingeniería Informática pueden incluir:</p>
                <p class="mb-3"><i class="fa fa-caret-right text-primary me-3"></i>Diseñar y desarrollar soluciones informáticas y de software para resolver problemas complejos en diferentes áreas de aplicación.</p>
                <p class="mb-3"><i class="fa fa-caret-right text-primary me-3"></i>Aplicar metodologías y herramientas de la ingeniería de software en el desarrollo de sistemas informáticos de alta calidad y seguridad.</p>
                <p class="mb-3"><i class="fa fa-caret-right text-primary me-3"></i>Administrar y optimizar recursos informáticos y de comunicaciones en organizaciones y empresas.</p>
                <p class="mb-3"><i class="fa fa-caret-right text-primary me-3"></i>Liderar proyectos de tecnología de la información, aplicando conocimientos de planificación, presupuestación, liderazgo y trabajo en equipo.</p>
                <p class="mb-3"><i class="fa fa-caret-right text-primary me-3"></i>Comunicarse de manera efectiva en español e inglés, tanto de forma oral como escrita, con diferentes tipos de audiencia.</p>
                <p class="mb-3"><i class="fa fa-caret-right text-primary me-3"></i>Adaptarse a los constantes cambios en el campo de la tecnología de la información y mantenerse actualizado en cuanto a las nuevas tendencias y tecnologías emergentes.</p>
                <p class="mb-3"><i class="fa fa-caret-right text-primary me-3"></i>Aplicar conocimientos y habilidades en ética y responsabilidad social en el diseño y desarrollo de soluciones informáticas y de software.</p>
                <p class="mb-3"><i class="fa fa-caret-right text-primary me-3"></i>Desempeñarse con éxito en diferentes roles profesionales en el campo de la informática, tales como analista, desarrollador, arquitecto, jefe de proyecto, gerente de tecnología, entre otros.</p>
                <p class="mb-3"><i class="fa fa-caret-right text-primary me-3"></i>Contribuir al avance y desarrollo de la informática y la tecnología mediante la investigación, innovación y transferencia de conocimientos.</p>
                <p class="mb-3"><i class="fa fa-caret-right text-primary me-3"></i>Aprender de manera autónoma y desarrollar habilidades de aprendizaje continuo para mantenerse actualizado y crecer profesionalmente.</p>
                <p class="mb-4">En resumen, los objetivos educacionales en Ingeniería Informática buscan formar profesionales altamente capacitados y comprometidos con la sociedad, capaces de crear soluciones tecnológicas innovadoras que permitan mejorar la calidad de vida de las personas, impulsar el desarrollo de las empresas y organizaciones, y contribuir al progreso de la sociedad en general.</p>
            </div>
            <div class="col-lg-5" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="img/tecnologica-4.jpg" style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Objetivos Educacionales -->